.about {
    &__text {
        max-width: 688px;
        color: #868585;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        line-height: 26px;
        margin: 0px auto;
    }
}